<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <h4>
                Made by: <a href="https://github.com/moxue1989" target="_blank">Mo Xue</a> ||
                <a href="https://globalgamejam.org/2018/games/coin-clicker-multiplayer" target="_blank">Calgary Game Jam - 2018</a>  ||
                <a href="https://github.com/moxue1989/game-jam-calgary" target="_blank">Source Code</a> ||
                Music Credits: <a href="https://soundcloud.com/lasthourmusic" target="_blank">Last Hour Productions</a>
            </h4>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
